/* nav realted style */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
nav > ul {
  align-items: center;
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: #474747;
}

/* com share style */
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Lato", sans-serif;
}
.nav-title {
  color: #181818;

  font-size: 45px;

  font-weight: 800;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  color: floralwhite;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  border: 0;
  border-radius: 2px;
  background: #fd6e0a;

  padding: 16px 32px;
}
/* header relarted style */

.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png"),url('../images/developer.png');
  background-repeat: no-repeat;
  background-position: bottom right ,top left;
  
}
.banner {
  padding: 30px 20px 0px 210px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-picture {
  width: 480px;
}
.banner-greeting {
  color: #474747;
  font-size: 45px;
  margin-bottom: 0;
}
.banner-title {
  font-size: 85px;
  color: #757575;
  font-weight: 700px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.banner-des {
  margin-top: 20px;
  margin-bottom: 50px;
}
.banner-content {
  max-width: 500px;
}
/* main-styles */
.about {
  padding: 130px;
  margin: 130px 0;
  background-color: #fff8f3;
}
.section-title {
  color: #181818;
  text-align: center;

  font-size: 35px;

  font-weight: 700;
}
.section-description {
  color: #757575;
  text-align: center;

  font-size: 18px;

  font-weight: 400;
}
main {
  max-width: 1140px;
  margin: auto;
}
.about-info {
  display: flex;
  justify-content: space-around;
}
.info-container {
  text-align: center;
}
/* .section-title{
  width: 70%;
  margin: auto;
} */
#what-i-do {
  padding: 30px 150px;
  text-align: center;
}
/* skillrelated */

.skills-container {
  display: flex;
  justify-content: space-around;
  gap: 25px;
}
.skill-desc {
  color: #474747;
  text-align: justify;
}
.skill {
  /* background-color: #FFF8F3; */
  padding: 20px;

  border-radius: 5px;
  background: #8606061a;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
main section {
  margin-top: 160px;
}

/* res-col-sty */
.resume-column-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}
.resume-container {
  display: flex;
  gap: 26px;
}

.res-item-desc {
  color: #757575;
}
.res-item-ins {
  color: var(--dark-03, #757575);

  font-size: 20px;

  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 20px;
}
.resume-item-title {
  color: #474747;

  font-size: 25px;

  font-weight: 700;
  margin-bottom: 10px;
}
.resume-container hr {
  margin: 30px;
}
.download-cv {
  text-align: center;
  margin-top: 50px;
  padding: 10px;
}

/* footer-sty */
footer {
  background: #fff8f3;
  margin-top: 100px;
  display: flex;
  padding: 130px 200px;
  gap: 100px;
}
.footer-col {
  width: 50%;
}

.contact input[type="text"],.contact input[type="email"],
textarea {
  display: block;
  margin-bottom: 25px;
  padding: 18px 35px;
  color:#757575;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;

  border-radius: 14px;
  background:  #8606061a;
  border: 0;
  width: 100%;
}
.social-links a{
    margin-right: 25px;
}
